# Ignore Python virtual environments
oldenv/
venv/
.env/
*.pyc
__pycache__/

# Ignore model files (optional if you don’t want them on GitHub)
*.pkl
*.joblib

# Ignore CSV datasets if they are large
*.csv

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore VS Code settings
.vscode/
